@keyframes heartbeat {
   from {
       transform: scale(1);
   }
   50% {
       transform: scale(1.3);
   }
   to {
       transform: scale(1);
   }
}

@keyframes run {
    from {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(10deg);
    }
    to {
        transform: rotate(-53deg);
    }
}

@keyframes cup {
    from {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
}