.button {
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    transition: 0.3s all;
    &:hover {
        width: 154px;
        height: 34px;
        font-size: 12.5px;
        box-shadow: 3px 3px 20px $main-color;
    }
    &_main {
        margin-top: 68px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        transition: 0.3s all;
        &:hover {
            width: 304px;
            height: 54px;
            font-size: 16.5px;
        }
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
        margin-top: 20px;
        transition: 0.3s all;
        &:hover {
            width: 304px;
            height: 59px;
            font-size: 16.5px;
        }
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
        transition: 0.3s all;
        &:hover {
            width: 135px;
            height: 44px;
            font-size: 14.5px;
        }
    }
}