.button {
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    transition: 0.3s all;
    &:hover {
        width: 155px;
        height: 35px;
        font-size: 13px;
        box-shadow: 3px 3px 20px $main-color;
    }
    &_main {
        margin-top: 68px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        transition: 0.3s all;
        &:hover {
            width: 305px;
            height: 55px;
            font-size: 17px;
        }
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
        margin-top: 20px;
        transition: 0.3s all;
        &:hover {
            width: 305px;
            height: 60px;
            font-size: 17px;
        }
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
        transition: 0.3s all;
        &:hover {
            width: 136px;
            height: 45px;
            font-size: 15px;
            box-shadow: 3px 3px 20px $main-color;
        }
    }
}