.carousel {
    padding: 82px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
        .slick-track {
            .slick-slide {
                &:nth-child(2) {
                    img {
                        margin-top: 27px;
                    }
                }
                &:nth-child(4) {
                    img {
                        margin-top: 69px;
                    }
                }
            }
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #ffffff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}
