@media screen and ( max-width: 1200px) {
    .button {
        &:hover {
            width: 150px;
            height: 30px;
            font-size: 12px;
            box-shadow: none;
        }
        &_main {
            &:hover {
                width: 300px;
                height: 50px;
                font-size: 16px;
                box-shadow: none;
            }
        }
        &_submit {
            &:hover {
                width: 100%;
                height: 55px;
                font-size: 16px;
                box-shadow: none;
            }
        }
        &_mini {
            &:hover {
                width: 131px;
                height: 40px;
                font-size: 14px
            }
        }
    }
    .catalog {
        &__tab {
            &:hover {
                box-shadow: none;
                border: 2px solid #d0d0d0;
            }
        }
    }
}

@media screen and ( max-width: 991px) {
    .promo {
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icons {
            max-width: 400px;
        }
        .button {
            &_main {
                width: 253px;
                height: 46px;
                font-size: 14px;
                &:hover {
                    width: 253px;
                    height: 46px;
                    font-size: 14px;
                    box-shadow: none;
                }
            }
        }
        &__link {
            font-size: 14px;
        }
    }

    .consultation {
        .container {
            &_small {
                max-width: 895px;
            }
        }
        .title {
            &_left {
                font-size: 30px;
            }
        }
        &__descr {
            font-size: 16px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 45px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 700px;
            .slick-track {
                .slick-slide {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 767px) {
    .promo {
        .header {
            &__logo {
                width: 231px;
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 20px;
                text-decoration: underline;
            }
            &__contacts {
                .button {
                    display: none;
                }
            }
        }
        &__wrapper {
            align-items: center;
            padding-right: 0;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
        .button {
            &_main {
                width: 280px;
                height: 46px;
                &:hover {
                    width: 280px;
                    height: 46px;
                    box-shadow: none;
                }
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        .title {
            font-size: 28px;
        }
        &__main {
            width: 180px;
            .header {
                font-size: 16px;
            }
        }
    }
    .consultation {
        .title_left {
            text-align: center;
            font-size: 28px;
        }
        &__descr {
            text-align: center;
            margin-top: 60px;
            font-size: 15px;
        }
        .feed-form {
            margin: 30px auto 0 auto;
            width: 240px;
            input {
                height: 45px;
                font-size: 12px;
            }
        }
        .button {
            &_submit {
                width: 240px;
                height: 45px;
                font-size: 14px;
                &:hover {
                    width: 240px;
                    height: 45px;
                    font-size: 14px;
                    box-shadow: none;
                }
            }
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            .slick-track {
                .slick-slide {
                    img {
                        width: 100%;
                    }
                    &:nth-child(2) {
                        img {
                            margin-top: 10px;
                        }
                    }
                    &:nth-child(4) {
                        img {
                            margin-top: 26px;
                        }
                    }
                }
            }
        }
    }
    .catalog {
        .title {
            font-size: 20px;
        }
        &__tab {
            width: 160px;
            font-size: 15px;
        }
        &-item {
            &:nth-child(3), &:nth-child(5) {
                margin-left: 0;
                margin-top: 20px;
            }
            &:nth-child(4) {
                margin-left: 20px;
            }
        }
    }
    .reviews {
        .title {
            font-size: 20px;
        }
        &__wripper {
            padding: 70px 40px;
        }
        &__block {
            display: flex;
            flex-direction: column;
            
        }
        &__photo {
            max-width: 140px;
            margin: 0 auto;
        }
        &__text {
            margin-left: 0;
            max-width: 100%;
        }
        &__name {
            text-align: center;
            margin-top: 20px;
        }
        &__stat {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
}

@media screen and ( max-width: 575px) {
    .promo {
        padding-bottom: 70px;
        .header {
            &__logo {
                width: 180px;
                margin: 0 auto;
            }
            &__phone {
                display: none;
            }
        }
        &__header {
            font-size: 21px;
        }
        &__subheader {
            font-size: 10px;
            margin-top: 0;
        }
        &__icons {
            width: 274px;
            margin-top: 30px;
        }
        &__icon {
            font-size: 10px;
            img {
                width: 35px;
            }
        }
        .button {
            &_main {
                width: 260px;
                height: 42px;
                &:hover {
                    width: 260px;
                    height: 42px;
                    box-shadow: none;
                }
            }
        }
    }
    .advantages {
        .title {
            font-size: 22px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__main {
            margin-top: 60px;
            &:nth-child(2), &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
    .consultation {
        padding: 80px 20px 70px 20px;
        .title {
            font-size: 12px;
        }
        &__descr {
            font-size: 10px;
            margin-top: 40px;
        }
    }
    .carousel {
        &__inner {
            width: 300px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 84px;
            height: 42px;
            font-size: 10px;
            line-height: 12px;
            div {
                margin-top: 8px;
                br {
                    display: block;
                }
            }
        }
        .buttons {
            &__mini {
                &:hover {
                    width: 131px;
                    height: 40px;
                    font-size: 14px;
                    box-shadow: none;
                }
            }
        }
        &_content {
            margin-top: 50px;
        }
        &-item {
            margin-right: 0;
        }
    }
    .footer {
        &__addr {
            font-size: 18px;
        }
        &__phone {
            font-size: 17px;
        }
        &__social-item {
            &:hover {
                box-shadow: none;
                width: 50px;
                height: 50px;
            }
        }
    }
    .modal {
        &__close {
            top: 10px;
            right: 10px;
            font-size: 30px;
        }
    }
}

@media screen and ( max-width: 575px) {
    .modal {
        &__close {
                right: 40px;
        }
    }
}