
@media screen and ( max-width: 767px) {
    .promo {
        .header {
            &__logo {
                width: 231px;
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 20px;
                text-decoration: underline;
            }
            &__contacts {
                .button {
                    display: none;
                }
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
        .button_main {
            width: 280px;
            height: 46px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        .title {
            font-size: 28px;
        }
        &__main {
            width: 180px;
            .header {
                font-size: 16px;
            }
        }
    }
    .consultation {
        .title_left {
            text-align: center;
            font-size: 28px;
        }
        &__descr {
            text-align: center;
            margin-top: 60px;
            font-size: 15px;
        }
        .feed-form {
            margin: 30px auto 0 auto;
            width: 240px;
            input {
                height: 45px;
                font-size: 12px;
            }
        }
        .button_submit {
            width: 240px;
            height: 45px;
            font-size: 14px;
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            .slick-track {
                .slick-slide {
                    img {
                        width: 100%;
                    }
                    &:nth-child(2) {
                        img {
                            margin-top: 10px;
                        }
                    }
                    &:nth-child(4) {
                        img {
                            margin-top: 26px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 575px) {
    .promo {
        padding-bottom: 70px;
        .header {
            &__logo {
                width: 180px;
                margin: 0 auto;
            }
            &__phone {
                display: none;
            }
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 10px;
            margin-top: 0;
        }
        &__icons {
            width: 274px;
            margin-top: 30px;
        }
        &__icon {
            font-size: 10px;
            img {
                width: 35px;
            }
        }
        .button_main {
            width: 260px;
            height: 42px;
        }
    }
    .advantages {
        .title {
            font-size: 22px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__main {
            margin-top: 60px;
            &:nth-child(2), &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
    .consultation {
        padding: 80px 20px 70px 20px;
        .title {
            font-size: 12px;
        }
        &__descr {
            font-size: 10px;
            margin-top: 40px;
        }
    }
    .carousel {
        &__inner {
            width: 250px;
            img {
                width: 100%;
            }
        }
    }
}